<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" name="email">
            <% if(typeof email !== 'undefined' ) {%>
            <small>你上次輸入的值:<%= email %></small>
            <% } %>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <% if(typeof password !== 'undefined' ) {%>
            <small>你上次輸入的值:<%= password %></small>
            <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="info"></div>
    <button id="btn" onclick="doAjax()">doAjax</button>
</div>
<%- include('parts/scriptJS') %>
<script>
    // function doAjax(){
    //     $.post('/try-json-form',$('form').serialize(),function(data){
    //         info.innerHTML = JSON.stringify(data)
    //     })
    // }
    
    function doAjax(){
        const data = {
            email: $('#email').val(),
            password: $('#password').val(),
        }
        fetch('/try-json-form', {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(r => r.text())
            .then(txt => {
                info.innerHTML = txt
            })
    }


</script>
<%- include('parts/html-foot') %>